@media (max-width: 992px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
  }
  .header {
    min-height: 768px;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__logo {
    display: block;
    width: 103px;
    padding: 40px 0px 0px 0px;
    margin: 0px auto;
  }
  .header__text-center {
    width: 612px;
    height: 94px;
    text-align: center;
    margin: 311px 0px 0px 70px;
  }
  .header__text-center h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
  }
  .header__text-center p {
    width: 390px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin: 8px 0px 0px 105px;
  }
  .header__text-down {
    width: 120px;
    margin: 216px 0px 0px 300px;
  }
  .header__text-down a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .navbar {
    min-height: 63px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: content-box;
  }
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
  }
  .navbar__logo {
    padding-top: 0;
  }
  .navbar__menu {
    width: 412px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
    padding-top: 0px;
  }
  .navbar__word a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.09091px;
    color: #48555B;
    text-transform: uppercase;
  }
  .navbar__word_b a {
    color: #00A4E5;
  }
  .about {
    min-height: 285px;
    margin: 40px auto 0px;
  }
  .about__title {
    position: relative;
    width: 124px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .about__title::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 35px;
    width: 52px;
    height: 2px;
    background-color: #00A4E5;
  }
  .about__block-bot {
    margin: 50px 0px 0px 0px;
  }
  .block-bot {
    display: flex;
  }
  .block-bot__subtitle {
    width: 330px;
    flex: 0 0 330px;
  }
  .block-bot__subtitle h2 {
    width: 322px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1875px;
    color: #48555B;
  }
  .block-bot__subtitle h2 span {
    color: #16ACE8;
  }
  .block-bot__subtitle p {
    width: 320px;
    padding-top: 22px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.1875px;
    color: #48555B;
  }
  .block-bot__columns {
    width: 350px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 350px;
    margin: 35px 0px 0px 40px;
  }
  .block-bot__column {
    width: 110px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 110px 180px;
  }
  .block-bot__column_one {
    background-image: url(../img/about-img-one.png);
  }
  .block-bot__column_two {
    background-image: url(../img/about-img-two.png);
  }
  .block-bot__column_three {
    background-image: url(../img/about-img-three.png);
  }
  .block-bot__text {
    width: 102px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1875px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 0px 0px 14px;
  }
  .services {
    min-height: 340px;
    margin: 70px auto 0px;
  }
  .services__block-up {
    display: flex;
    justify-content: space-between;
  }
  .services__block-down {
    display: flex;
    justify-content: space-between;
  }
  .block-up {
    min-height: 40px;
  }
  .block-up__title {
    position: relative;
    width: 179px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #48555B;
    margin: 0;
  }
  .block-up__title::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 2px;
    width: 52px;
    height: 2px;
    background-color: #00A4E5;
  }
  .block-up__subtitle {
    width: 354px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #48555B;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -2px;
  }
  .block-up__button {
    margin: 0;
  }
  .button {
    width: 150px;
    height: 40px;
  }
  .button a {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .button a:hover {
    background-color: #0087bc;
  }
  .block-down {
    max-width: 720px;
    min-height: 300px;
    padding-top: 42px;
  }
  .block-down__column {
    width: 224px;
    height: 256px;
    border: 1px solid #E6E6E6;
  }
  .block-down__img {
    padding: 18px 15px 0px;
  }
  .block-down__img img {
    width: 62px;
    height: 66px;
  }
  .block-down__title {
    width: 220px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #48555B;
    padding: 20px 15px 0px;
  }
  .block-down__subtitle {
    width: 202px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.1875px;
    color: #48555B;
    padding: 14px 15px 0px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
  }
  .header {
    min-height: 620px;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__logo {
    display: block;
    width: 103px;
    padding: 30px 0px 0px 0px;
    margin: 0px auto;
  }
  .header__text-center {
    width: 540px;
    height: 94px;
    text-align: center;
    margin: 220px 0px 0px 10px;
  }
  .header__text-center h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
  }
  .header__text-center p {
    width: 390px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    margin: 8px auto 0px;
  }
  .header__text-down {
    width: 120px;
    margin: 180px 0px 0px 210px;
  }
  .header__text-down a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .navbar {
    min-height: 63px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: content-box;
  }
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
  }
  .navbar__logo {
    padding-top: 0;
  }
  .navbar__menu {
    width: 370px;
    display: flex;
    margin-left: 0px;
    padding-top: 0px;
  }
  .navbar__word a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.09091px;
    color: #48555B;
    text-transform: uppercase;
  }
  .navbar__word_b a {
    color: #00A4E5;
  }
  .navbar__word:nth-child(1) {
    margin-right: 26px;
  }
  .navbar__word:nth-child(2) {
    margin-right: 30px;
  }
  .navbar__word:nth-child(3) {
    margin-right: 26px;
  }
  .navbar__word:nth-child(4) {
    margin-right: 24px;
  }
  .about {
    min-height: 418px;
    margin: 40px auto 0px;
  }
  .about__title {
    padding-top: 0;
    position: relative;
    width: 124px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .about__title::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 35px;
    width: 52px;
    height: 2px;
    background-color: #00A4E5;
  }
  .about__block-bot {
    margin: 50px auto 0px;
  }
  .block-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 540px;
    height: 350px;
  }
  .block-bot__subtitle {
    width: 540px;
    flex: 0 1 250px;
    margin: 0px auto;
  }
  .block-bot__subtitle h2 {
    width: 540px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1875px;
    color: #48555B;
  }
  .block-bot__subtitle h2 span {
    color: #16ACE8;
  }
  .block-bot__subtitle p {
    width: 520px;
    margin: 0px auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.1875px;
    color: #48555B;
    padding-top: 20px;
  }
  .block-bot__columns {
    width: 540px;
    height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 0 1 350px;
    margin: 0px auto;
  }
  .block-bot__column {
    width: 140px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: 140px 170px;
  }
  .block-bot__column_one {
    background-image: url(../img/about-img-one.png);
  }
  .block-bot__column_two {
    background-image: url(../img/about-img-two.png);
  }
  .block-bot__column_three {
    background-image: url(../img/about-img-three.png);
  }
  .block-bot__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1875px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 0px 0px 14px;
  }
  .services {
    min-height: 312px;
    margin: 56px auto 0px;
  }
  .services__block-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .services__block-down {
    display: flex;
  }
  .block-up {
    max-width: 540px;
    min-height: 98px;
    margin: 0 auto;
    position: relative;
  }
  .block-up__title {
    position: relative;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    color: #48555B;
    margin: 0;
  }
  .block-up__title::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 74px;
    width: 52px;
    height: 2px;
    background-color: #00A4E5;
  }
  .block-up__subtitle {
    text-align: left;
    height: 40px;
    width: 354px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #48555B;
    margin-top: 44px;
    position: relative;
    left: -93px;
  }
  .block-up__button {
    margin: 0;
    position: absolute;
    top: 58px;
    right: 0px;
  }
  .button {
    width: 150px;
    height: 40px;
  }
  .button a {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .button a:hover {
    background-color: #0087bc;
  }
  .block-down {
    max-width: 540px;
    min-height: 180px;
    padding-top: 30px;
  }
  .block-down__column {
    width: 175px;
    height: 180px;
    border: 1px solid #E6E6E6;
    padding: 9px 7.5px 9px;
  }
  .block-down__img {
    padding: 0;
  }
  .block-down__img img {
    width: 42px;
    height: 46px;
  }
  .block-down__title {
    width: 158px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #48555B;
    padding: 0;
    margin-top: 7px;
  }
  .block-down__subtitle {
    width: 165px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.05px;
    color: #48555B;
    padding: 0;
    margin-top: 5px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: none;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
  }
  .header {
    min-height: 350px;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__logo {
    display: block;
    width: 90px;
    padding: 11px 0px 0px 0px;
    margin: 0px auto;
    position: relative;
    left: 8px;
  }
  .header__logo img {
    width: 70px;
    height: 18px;
  }
  .header__text-center {
    width: 244px;
    height: 94px;
    text-align: center;
    margin: 100px auto 0px;
    position: relative;
    left: 8px;
  }
  .header__text-center h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 5.6px;
    color: #FFFFFF;
  }
  .header__text-center p {
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    margin: 8px auto 0px;
  }
  .header__text-down {
    width: 120px;
    margin: 84px auto 0px;
    position: relative;
    left: 16px;
  }
  .header__text-down a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 7px;
    letter-spacing: 3.5px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .navbar {
    min-height: 46px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: content-box;
  }
  .navbar__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .navbar__logo {
    display: none;
    padding-top: 0;
  }
  .navbar__logo img {
    width: 70px;
    height: 18px;
  }
  .navbar__menu {
    width: 320px;
    display: flex;
    margin-left: 0px;
  }
  .navbar__word a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1.09091px;
    color: #48555B;
    text-transform: uppercase;
  }
  .navbar__word_b a {
    color: #00A4E5;
  }
  .navbar__word:nth-child(1) {
    margin-right: 8px;
  }
  .navbar__word:nth-child(2) {
    margin-right: 8px;
  }
  .navbar__word:nth-child(3) {
    margin-right: 8px;
  }
  .navbar__word:nth-child(4) {
    margin-right: 8px;
  }
  .about {
    min-height: 355px;
    margin: 34px auto 0px;
  }
  .about__title {
    position: relative;
    width: 124px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .about__title::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 35px;
    width: 52px;
    height: 2px;
    background-color: #00A4E5;
  }
  .about__block-bot {
    margin: 38px auto 0px;
  }
  .block-bot {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 300px;
  }
  .block-bot__subtitle {
    width: 320px;
    flex: 0 1 160px;
    margin: 0px auto;
  }
  .block-bot__subtitle h2 {
    width: 320px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #48555B;
  }
  .block-bot__subtitle h2 span {
    color: #16ACE8;
  }
  .block-bot__subtitle p {
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0px;
    color: #48555B;
    padding-top: 18px;
  }
  .block-bot__columns {
    width: 320px;
    display: flex;
    justify-content: space-around;
    flex: 0 1 122px;
    margin: 0px auto 0px;
  }
  .block-bot__column {
    width: 96px;
    height: 122px;
    background-repeat: no-repeat;
    background-size: 96px 122px;
  }
  .block-bot__column_one {
    background-image: url(../img/about-img-one.png);
  }
  .block-bot__column_two {
    background-image: url(../img/about-img-two.png);
  }
  .block-bot__column_three {
    background-image: url(../img/about-img-three.png);
  }
  .block-bot__text {
    width: 70px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1875px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 0px 0px 11px;
  }
  .services {
    width: 320px;
    min-height: 312px;
    margin: 48px auto 0px;
  }
  .services__block-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .services__block-down {
    display: flex;
    flex-direction: column;
  }
  .block-up {
    max-width: 320px;
    min-height: 98px;
    margin: 0 auto;
    position: relative;
  }
  .block-up__title {
    position: relative;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    color: #48555B;
    margin: 0;
  }
  .block-up__title::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 74px;
    width: 52px;
    height: 2px;
    background-color: #00A4E5;
  }
  .block-up__subtitle {
    text-align: center;
    height: 40px;
    width: 320px;
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: #48555B;
    margin-top: 16px;
    position: relative;
    left: 0px;
  }
  .block-up__button {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 70px;
  }
  .button {
    width: 150px;
    height: 40px;
  }
  .button a {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .button a:hover {
    background-color: #0087bc;
  }
  .block-down {
    max-width: 250px;
    min-height: 700px;
    padding-top: 65px;
    margin: 0 auto;
  }
  .block-down__column {
    width: 250px;
    height: 196px;
    border: 1px solid #E6E6E6;
    padding: 15px;
  }
  .block-down__img {
    padding: 0;
  }
  .block-down__img img {
    width: 48px;
    height: 52px;
  }
  .block-down__title {
    width: 220px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #48555B;
    padding: 0;
    margin-top: 12px;
  }
  .block-down__subtitle {
    width: 210px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.05px;
    color: #48555B;
    padding: 0;
    margin-top: 10px;
  }
}