@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

/*------------------ обнуляющий список ----------------------*/
body, html {
  height: 100px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header {
  min-height: 768px;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__logo {
  display: block;
  width: 103px;
  padding: 40px 0px 0px 0px;
  margin: 0px auto;
}
.header__text-center {
  width: 612px;
  height: 94px;
  text-align: center;
  margin: 311px 0px 0px 170px;
}
.header__text-center h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 5.70937px;
  color: #FFFFFF;
}
.header__text-center p {
  width: 390px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  margin: 8px 0px 0px 105px;
}
.header__text-down {
  width: 120px;
  margin: 216px 0px 0px 412px;
}
.header__text-down a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 3.7px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.navbar {
  min-height: 63px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  box-sizing: content-box;
}
.navbar__wrap {
  display: flex;
}
.navbar__logo {
  padding: 23px 0px 0px 0px;
}
.navbar__menu {
  width: 412px;
  display: flex;
  padding: 24px 0px 0px 0px;
  margin-left: 450px;
}
.navbar__word a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.09091px;
  color: #48555B;
  text-transform: uppercase;
}
.navbar__word_b a {
  color: #00A4E5;
}
.navbar__word:nth-child(1) {
  margin-right: 48px;
}
.navbar__word:nth-child(2) {
  margin-right: 42px;
}
.navbar__word:nth-child(3) {
  margin-right: 39px;
}
.navbar__word:nth-child(4) {
  margin-right: 29px;
}

.about {
  min-height: 344px;
  margin: 59px auto 0px;
}
.about__title {
  position: relative;
  width: 124px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.30625px;
  color: #48555B;
  text-transform: uppercase;
  padding-top: 1px;
  margin: 0px 0px 0px 411px;
}
.about__title::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 35px;
  width: 52px;
  height: 2px;
  background-color: #00A4E5;
}
.about__block-bot {
  margin: 69px 0px 0px 0px;
}

.block-bot {
  display: flex;
}
.block-bot__subtitle {
  width: 410px;
  flex: 0 0 410px;
}
.block-bot__subtitle h2 {
  width: 400px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555B;
}
.block-bot__subtitle h2 span {
  color: #16ACE8;
}
.block-bot__subtitle p {
  padding-top: 31px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}
.block-bot__columns {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 224px;
  flex: 0 0 460px;
  margin: 31px 0px 0px 72px;
}
.block-bot__column {
  width: 140px;
  height: 224px;
}
.block-bot__column_one {
  background-image: url(../img/about-img-one.png);
}
.block-bot__column_two {
  background-image: url(../img/about-img-two.png);
}
.block-bot__column_three {
  background-image: url(../img/about-img-three.png);
}
.block-bot__text {
  width: 126px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 0px 0px 14px;
}

.services {
  min-height: 446px;
  margin: 117px auto 0px;
}
.services__block-up {
  display: flex;
}
.services__block-down {
  display: flex;
  justify-content: space-between;
}

.block-up {
  min-height: 40px;
}
.block-up__title {
  position: relative;
  width: 200px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.30625px;
  text-transform: uppercase;
  color: #48555B;
  margin: 1.5px 0px 0px 0.5px;
}
.block-up__title::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0px;
  width: 52px;
  height: 2px;
  background-color: #00A4E5;
}
.block-up__subtitle {
  width: 405px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555B;
  margin: 0px 0px 0px 152.5px;
}
.block-up__button {
  margin: 0px 0px 0px 32px;
}

.button {
  width: 150px;
  height: 40px;
}
.button a {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button a:hover {
  background-color: #0087bc;
}

.block-down {
  max-width: 940px;
  min-height: 330px;
  padding-top: 76px;
}
.block-down__column {
  width: 295px;
  height: 330px;
  border: 1px solid #E6E6E6;
}
.block-down__img {
  padding: 37px 0px 0px 22px;
}
.block-down__title {
  width: 274px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  text-transform: uppercase;
  color: #48555B;
  padding: 25px 0px 0px 22px;
}
.block-down__subtitle {
  width: 280px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  padding: 14px 0px 0px 22px;
}

.work {
  min-height: 498px;
  background-image: url(../img/work-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 115px;
}
.work__title {
  width: 350px;
  height: 72px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #48555B;
  margin: 0px auto;
  padding-top: 120.5px;
}
.work__button {
  margin: 106px auto 0px;
}

.signup {
  min-height: 100px;
  background-color: #171819;
}
.signup__wrap {
  display: flex;
  min-height: 100px;
}
.signup__title {
  width: 218px;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  margin: 39px 0px 0px 127px;
}
.signup__form {
  display: flex;
  align-items: center;
  margin-left: 69px;
}
.signup__email {
  width: 250px;
  height: 40px;
}
.signup__email input {
  width: 250px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.07px;
  color: #48555B;
  background: #FFFFFF;
  border: 1px solid #979797;
  padding: 0px 0px 0px 16px;
}
.signup__button input {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.signup__button input:hover {
  background-color: #0087bc;
  cursor: pointer;
}

.footer {
  min-height: 238px;
  background-color: #141A20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrap {
  width: 940px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #141A20;
}
.footer__company {
  width: 250px;
  height: 150px;
}
.footer__links {
  width: 260px;
  height: 150px;
}
.footer__contact {
  width: 118px;
  height: 150px;
}
.footer__socials {
  width: 87px;
  height: 13px;
}

.company__title {
  margin-left: -1px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.company__img {
  margin-top: 23px;
}
.company__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #FFFFFF;
  margin-top: 15px;
}

.links__title {
  margin-left: -1px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.links__block {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.links__column:nth-child(1) {
  width: 78px;
}
.links__column:nth-child(2) {
  width: 52px;
}
.links__column:nth-child(3) {
  width: 62px;
}
.links__word a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.contact__title {
  margin-left: -1px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.contact__block {
  font-family: "Open Sans";
  font-size: 11px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
  margin-top: 20px;
}
.contact__where {
  line-height: 15px;
}
.contact__number {
  padding-top: 16px;
}
.contact__email {
  padding-top: 20px;
}

.socials {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}
.copyright {
  min-height: 60px;
  background-color: #171819;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  height: 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
}