
// -------------------------------------------------------------------------- 992 

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    // ----------------------------- header 992 - done

    .header {
        min-height: 720px;
        background-image: url(../img/header-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        &__logo {
            display: block;
            width: 103px;
            padding: 36px 0px 0px 0px;
            margin: 0px auto;
        }
    
        &__text-center {
            width: 612px;
            height: 94px;
            text-align: center;
            margin: 270px 0px 0px 70px;
            
            h1 {
                font-family: 'Bebas Neue', cursive;
                font-weight: 400;
                font-size: 60px;
                letter-spacing: 5.70937px;
                color: #FFFFFF;
            }
            p {
                width: 390px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: #FFFFFF;
                margin: 8px 0px 0px 105px;
            }
        }
    
        &__text-down {
            width: 120px;
            margin: 216px 0px 0px 300px;
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 11px;
                letter-spacing: 3.7px;
                color: #FFFFFF;
                text-transform: uppercase;
            }
        }
    }

    // ----------------------------- navbar 992 - done

    .navbar {
        min-height: 63px;
        border-top: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        box-sizing: content-box;
    
        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 23px;
        }
    
        &__logo {
            padding-top: 0;
        }
    
        &__menu {
            width: 412px;
            display: flex;
            justify-content: space-evenly;
            margin-left: 0px;
            padding-top: 0px;
        }
        
        &__word {
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 12px;
                letter-spacing: 1.09091px;
                color: #48555B;
                text-transform: uppercase;
            }
    
            &_b {
                a {
                    color: #00A4E5;
                }
            }
        }
    }

    // ----------------------------- about 992 - done

    .about {
        min-height: 285px;
        margin: 40px auto 0px;
        
    
        &__title {
            position: relative;
            width: 124px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            letter-spacing: 2.30625px;
            color: #48555B;
            text-transform: uppercase;
            margin: 0 auto;
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                left: 35px;
                width: 52px;
                height: 2px;
                background-color: #00A4E5;
            }
        }
    
        &__block-bot {
            margin: 50px 0px 0px 0px;
        }
    }
    .block-bot {
        display: flex;
        justify-content: space-between;
    
        &__subtitle {
            width: 342px;
            flex: 0 0 342px;
    
            h2 {
                width: 322px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.1875px;
                color: #48555B;
                span {
                    color: #16ACE8;
                }
            }
    
            p {
                width: 342px;
                padding-top: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: 0.1875px;
                color: #48555B;
            }
        }
    
        &__columns {
            width: 350px;
            height: 170px;
            display: flex;
            justify-content: space-between;
            align-self: flex-end;
            flex: 0 0 350px;
            margin: 0px 0px 0px 0px;
        }
    
        &__column {
            width: 110px;
            height: 170px;
            background-repeat: no-repeat;
            background-size: 110px 170px;

            &_one {
                background-image: url(../img/about-img-one.png);
            }
    
            &_two {
                background-image: url(../img/about-img-two.png);
            }
    
            &_three {
                background-image: url(../img/about-img-three.png);
            }
        }
    
        &__text {
            width: 102px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.1875px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15px 0px 0px 14px;
        }
    }
    
    // ----------------------------- services 992 - done

    .services {
        min-height: 307px;
        margin: 70px auto 0px;
    
        &__block-up {
            display: flex;
            justify-content: space-between;
        }
    
        &__block-down {
            display: flex;
            justify-content: space-between;
        }
    }
    .block-up {
        min-height: 45px;
    
        &__title {
            position: relative;
            width: 179px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #48555B;
            margin: 0;
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                left: 2px;
                width: 52px;
                height: 2px;
                background-color: #00A4E5;
            }
        }
    
        &__subtitle {
            width: 302px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0.2px;
            color: #48555B;
            margin: 0px 0px 0px 0px;
            position: relative;
            top: -2px;
        }
    
        &__button {
            margin: 0;
        }
    }
    
    .button {
        // Этот блок принадлежит двум кнопкам 
        width: 150px;
        height: 40px;
        a {
            width: 150px;
            height: 40px;
            background-color: #00A4E5;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:hover {
                background-color: #0087bc;
                // можно добавить анимацию 
            }
        }
    } 
    
    .block-down {
        max-width: 720px;
        min-height: 220px;
        padding-top: 42px;
    
        &__column {
            width: 224px;
            height: 220px;
            border: 1px solid #E6E6E6;
            padding: 10px;
        }
    
        &__img {
            padding: 0;
            img {
                width: 60px;
                height: 64px;
            }
        }
    
        &__title {
            width: 204px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            color: #48555B;
            padding: 0;
            margin-top: 18px;
            
        }
    
        &__subtitle {
            width: 202px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.1875px;
            color: #48555B;
            padding: 0;
            margin-top: 12px;
        }
    }

    // ----------------------------- work 992 - done

    .work {
        min-height: 380px;
        background-image: url(../img/work-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    
        &__title {
            width: 350px;
            height: 72px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.15px;
            color: #48555B;
            margin: 0px auto;
            padding-top: 80px;
        }
    
        &__button {
           margin: 106px auto 0px;
        }
    }

    // ----------------------------- signup 992 - done

    .signup {
        min-height: 90px;
        background-color: #171819;
        
        &__wrap {
            min-height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__title {
            width: 218px;
            height: 30px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 22px;
            text-align: center;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            margin: 0px;
            
        }
    
        &__form {
            display: flex;
            align-items: center;
            margin-left: 0px;
        }
    
        &__email {
            width: 250px;
            height: 40px;
    
            input {
                width: 250px;
                height: 40px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                letter-spacing: 0.07px;
                color: #48555B;
                background: #FFFFFF;
                border: 1px solid #979797;
                padding: 0px 0px 0px 16px;
            }
        }
    
        &__button {
            
            input {
                width: 150px;
                height: 40px;
                background-color: #00A4E5;
        
                display: flex;
                justify-content: center;
                align-items: center;
        
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #FFFFFF;
                
                &:hover {
                    background-color: #0087bc;
                    cursor: pointer;
                }
            }
        }
    }

    // ----------------------------- footer 992 - done

    .footer {
        min-height: 238px;
        background-color: #141A20;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 720px;
            height: 150px;
            display: flex;
            justify-content: space-between;
            background-color: #141A20;
        }
        &__company {
            width: 200px;
            height: 150px;
        }
        &__links {
            width: 226px;
            height: 150px;
        }
        &__contact {
            width: 110px;
            height: 150px;
        }
        &__socials {
            width: 76px;
            height: 13px;
        }
    }
    .company {
        &__title {
            margin-left: -1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;  
        }
    
        &__img {
            margin-top: 23px;
        }
    
        &__subtitle {
            font-family: 'Open Sans', sans-serif;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.85px;
            color: #FFFFFF;
            margin-top: 14px;
            
        }
    }
    .links {
        &__title {
            margin-left: -1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    
        &__block {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }
    
        &__column {
    
            &:nth-child(1) {
                width: 78px;
            }
            &:nth-child(2) {
                width: 52px;
            }
            &:nth-child(3) {
                width: 62px;
            }
        }
    
        &__word {
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 10px;
                line-height: 25px;
                letter-spacing: 0.846154px;
                color: #FFFFFF;
                text-transform: uppercase;
            }
        }
    }
    .contact {
        &__title {
            margin-left: -1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    
        &__block {
            font-family: 'Open Sans';
            font-size: 10px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            margin-top: 18px;
        }
    
        &__where {
            line-height: 15px;
        }
    
        &__number {
            padding-top: 16px;
        }
    
        &__email {
            padding-top: 20px;
        }
    }
    .socials {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
    
        &__img {
        }
    }

    // ----------------------------- copyright 992 - done

    .copyright {
        min-height: 60px;
        background-color: #171819;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
            height: 14px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
        }
    }
}

// -------------------------------------------------------------------------- 768

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    // ----------------------------- header 768 - done

    .header {
        min-height: 650px;
        background-image: url(../img/header-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        &__logo {
            display: block;
            width: 103px;
            padding: 30px 0px 0px 0px;
            margin: 0px auto;
        }
    
        &__text-center {
            width: 540px;
            height: 94px;
            text-align: center;
            margin: 220px 0px 0px 10px;
            
            h1 {
                font-family: 'Bebas Neue', cursive;
                font-weight: 400;
                font-size: 60px;
                letter-spacing: 5.70937px;
                color: #FFFFFF;
            }
            p {
                width: 390px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 14px;
                color: #FFFFFF;
                margin: 8px auto 0px;
            }
        }
    
        &__text-down {
            width: 120px;
            margin: 220px 0px 0px 210px;
            a { 
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 11px;
                letter-spacing: 3.7px;
                color: #FFFFFF;
                text-transform: uppercase;
            }
        }
    }

    // ----------------------------- navbar 768 - done

    .navbar {
        min-height: 63px;
        border-top: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        box-sizing: content-box;
    
        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 23px;
        }
    
        &__logo {
            padding-top: 0;
        }
    
        &__menu {
            width: 370px;
            display: flex;
            margin-left: 0px;
            padding-top: 0px;
        }
        
        &__word {
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 12px;
                letter-spacing: 1.09091px;
                color: #48555B;
                text-transform: uppercase;
            }
    
            &_b {
                a {
                    color: #00A4E5;
                }
            }

            &:nth-child(1) {
                margin-right: 26px;
            }
            &:nth-child(2) {
                margin-right: 30px;
            }
            &:nth-child(3) {
                margin-right: 26px;
            }
            &:nth-child(4) {
                margin-right: 24px;
            }

        }
    }

    // ----------------------------- about 768 - done

    .about {
        min-height: 418px;
        margin: 40px auto 0px;
        
    
        &__title {
            padding-top: 0;
            position: relative;
            width: 124px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            letter-spacing: 2.30625px;
            color: #48555B;
            text-transform: uppercase;
            margin: 0 auto;
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                left: 35px;
                width: 52px;
                height: 2px;
                background-color: #00A4E5;
            }
        }
    
        &__block-bot {
            margin: 50px auto 0px;
        }
    }
    .block-bot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 540px;
        height: 350px;
        
        &__subtitle {
            width: 540px;
            flex: 0 1 250px;
            margin: 0px auto;
            
            h2 {
                width: 540px;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 0.1875px;
                color: #48555B;
                span {
                    color: #16ACE8;
                }
            }
    
            p {
                width: 520px; 
                margin: 0px auto;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: 0.1875px;
                color: #48555B;
                padding-top: 20px;
            }
        }
    
        &__columns {
            width: 540px;
            height: 170px;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            flex: 0 1 350px;
            margin: 0px auto;
        }
    
        &__column {
            width: 140px;
            height: 170px;
            background-repeat: no-repeat;
            background-size: 140px 170px;

            &_one {
                background-image: url(../img/about-img-one.png);
            }
    
            &_two {
                background-image: url(../img/about-img-two.png);
            }
    
            &_three {
                background-image: url(../img/about-img-three.png);
            }
        }
    
        &__text {
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.1875px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15px 0px 0px 14px;
        }
    }

    // ----------------------------- services 768 - done

    .services {
        min-height: 312px;
        margin: 56px auto 0px;
    
        &__block-up {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    
        &__block-down {
            display: flex;
            //flex-direction: column;
        }

    }
    .block-up {
        max-width: 540px;
        min-height: 108px;
        margin: 0 auto;
        position: relative;
        
    
        &__title {
            position: relative;
            width: 200px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 2.30625px;
            text-transform: uppercase;
            color: #48555B;
            margin: 0;
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                left: 74px;
                width: 52px;
                height: 2px;
                background-color: #00A4E5;
            }
        }
    
        &__subtitle {
            text-align: left;
            height: 46px;
            width: 342px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #48555B;
            margin-top: 44px; 
            position: relative;
            left: -93px;
        }
    
        &__button {
            margin: 0;
            position: absolute;
            top: 60px;
            right: 0px;
        }
    }
    
    .button {
        // Этот блок принадлежит двум кнопкам 
        width: 150px;
        height: 40px;
        a {
            width: 150px;
            height: 40px;
            background-color: #00A4E5;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:hover {
                background-color: #0087bc;
                // можно добавить анимацию 
            }
        }
    } 
    
    .block-down {
        max-width: 540px;
        min-height: 180px;
        padding-top: 30px;
        
    
        &__column {
            width: 175px;
            height: 180px;
            border: 1px solid #E6E6E6;
            padding: 9px 7.5px 9px;
            
        }
    
        &__img {
            padding: 0;
            img {
                width: 42px;
                height: 46px;
            }
        }
    
        &__title {
            width: 158px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #48555B;
            padding: 0;
            margin-top: 7px;
        }
    
        &__subtitle {
            width: 165px;
            font-family: 'Open Sans', sans-serif;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.05px;
            color: #48555B;
            padding: 0;
            margin-top: 5px;
        }
    }

    // ----------------------------- work 768 - done

    .work {
        min-height: 320px;
        background-image: url(../img/work-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    
        &__title {
            width: 350px;
            height: 72px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.15px;
            color: #48555B;
            margin: 0px auto;
            padding-top: 70px;
        }
    
        &__button {
           margin: 86px auto 0px;
        }
    }

    // ----------------------------- signup 768 - done

    .signup {
        min-height: 90px;
        background-color: #171819;
        
        &__wrap {
            min-height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__title {
            width: 180px;
            height: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 16px;
            text-align: left;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            margin: 0px;
            
        }
    
        &__form {
            display: flex;
            align-items: center;
            margin-left: 0px;
        }
    
        &__email {
            width: 210px;
            height: 40px;
    
            input {
                width: 210px;
                height: 40px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                letter-spacing: 0.07px;
                color: #48555B;
                background: #FFFFFF;
                border: 1px solid #979797;
                padding: 0px 0px 0px 16px;
            }
        }
    
        &__button {

            input {
                width: 150px;
                height: 40px;
                background-color: #00A4E5;
        
                display: flex;
                justify-content: center;
                align-items: center;
        
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #FFFFFF;
                
                &:hover {
                    background-color: #0087bc;
                    cursor: pointer;
                }
            }
        }
    }

    // ----------------------------- footer 768 - done

    .footer {
        min-height: 220px;
        background-color: #141A20;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 540px;
            height: 150px;
            display: flex;
            justify-content: space-between;
            background-color: #141A20;
        }
        &__company {
            width: 146px;
            height: 150px;
        }
        &__links {
            width: 176px;
            height: 150px;
        }
        &__contact {
            width: 102px;
            height: 150px;
        }
        &__socials {
            width: 14px;
            height: 120px;
        }
    }
    .company {
        &__title {
            margin-left: -1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;  
        }
    
        &__img {
            margin-top: 23px;
        }
    
        &__subtitle {
            font-family: 'Open Sans', sans-serif;
            font-size: 9px;
            line-height: 16px;
            letter-spacing: 0.85px;
            color: #FFFFFF;
            margin-top: 14px;
            
        }
    }
    .links {
        &__title {
            margin-left: -1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    
        &__block {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }
    
        &__column {

            &:nth-child(1) {
                width: 65px;   
            }
            &:nth-child(2) {
                width: 44px;
            }
            &:nth-child(3) {
                width: 52px;
            }
        }
    
        &__word {
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 9px;
                line-height: 26px;
                letter-spacing: 0.846154px;
                color: #FFFFFF;
                text-transform: uppercase;
            }
        }
    }
    .contact {
        &__title {
            margin-left: -1px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    
        &__block {
            font-family: 'Open Sans';
            font-size: 9px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            margin-top: 16px;
        }
    
        &__where {
            line-height: 16px;
        }
    
        &__number {
            padding-top: 16px;
        }
    
        &__email {
            padding-top: 20px;
        }
    }
    .socials {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        &__img {
        }
    }

    // ----------------------------- copyright 768 - done

    .copyright {
        min-height: 56px;
        background-color: #171819;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
            height: 14px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
        }
    }
}

// -------------------------------------------------------------------------- 576

@media (max-width: 576px) {
    .container {
        max-width: none;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: content-box;
    }

    // ----------------------------- header 576 - done

    .header {
        min-height: 350px;
        background-image: url(../img/header-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        &__logo {
            display: block;
            width: 90px;
            padding: 11px 0px 0px 0px;
            margin: 0px auto;
            position: relative;
            left: 8px;
            img {
                width: 70px;
                height: 18px;
            }
        }
    
        &__text-center {
            width: 244px;
            height: 94px;
            text-align: center;
            margin: 100px auto 0px;
            position: relative;
            left: 8px;
            h1 {
                font-family: 'Bebas Neue', cursive;
                font-weight: 400;
                font-size: 40px;
                letter-spacing: 5.6px;
                color: #FFFFFF;
            }
            p {
                width: 200px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 11px;
                letter-spacing: 1.1px;
                color: #FFFFFF;
                margin: 8px auto 0px;
            }
        }
    
        &__text-down {
            width: 120px;
            margin: 84px auto 0px;
            position: relative;
            left: 16px;
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 7px;
                letter-spacing: 3.5px;
                color: #FFFFFF;
                text-transform: uppercase;
            }  
        }
    }

    // ----------------------------- navbar 576 - done

    .navbar {
        min-height: 46px;
        border-top: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        box-sizing: content-box;
    
        &__wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }
    
        &__logo {
            display: none;
            padding-top: 0;
            img {
                width: 70px;
                height: 18px;
            }
        }
    
        &__menu {
            width: 320px;
            display: flex;
            //justify-content: space-between;
            margin-left: 0px;
        }
        
        &__word {
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 11px;
                letter-spacing: 1.09091px;
                color: #48555B;
                text-transform: uppercase;
            }
    
            &_b {
                a {
                    color: #00A4E5;
                }
            }

            &:nth-child(1) {
                margin-right: 8px;
            }
            &:nth-child(2) {
                margin-right: 8px;
            }
            &:nth-child(3) {
                margin-right: 8px;
            }
            &:nth-child(4) {
                margin-right: 8px;
            }
        }
    }

    // ----------------------------- about 576 - done

    .about {
        min-height: 375px;
        margin: 34px auto 0px;
        
    
        &__title {
            position: relative;
            width: 124px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 17px;
            text-align: center;
            letter-spacing: 2.30625px;
            color: #48555B;
            text-transform: uppercase;
            margin: 0 auto;
            &::before {
                content: "";
                position: absolute;
                top: 28px;
                left: 35px;
                width: 52px;
                height: 2px;
                background-color: #00A4E5;
            }
        }
    
        &__block-bot {
            margin: 38px auto 0px;
        }
    }
    .block-bot {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 320px;
        
        &__subtitle {
            width: 300px;
            flex: 0 1 178px;
            margin: 0px auto;
            
            h2 {
                width: 300px;
                margin: 0 auto;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0px;
                color: #48555B;
                span {
                    color: #16ACE8;
                }
            }
    
            p {
                width: 300px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 11px;
                line-height: 15px;
                letter-spacing: 0px;
                color: #48555B;
                padding-top: 18px;
            }
        }
    
        &__columns {
            width: 300px;
            display: flex;
            justify-content: space-between;
            flex: 0 1 122px;
            margin: 0px auto;
        }
    
        &__column {
            width: 94px;
            height: 122px;
            background-repeat: no-repeat;
            background-size: 94px 122px;

            &_one {
                background-image: url(../img/about-img-one.png);
            }
    
            &_two {
                background-image: url(../img/about-img-two.png);
            }
    
            &_three {
                background-image: url(../img/about-img-three.png);
            }
        }
    
        &__text {
            width: 70px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.1875px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 12px 0px 0px 11px;
        }
    }

    // ----------------------------- services 576 - done 

    .services {
        width: 320px;
        min-height: 312px;
        margin: 48px auto 0px;
    
        &__block-up {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__block-down {
            display: flex;
            flex-direction: column;
        }

    }
    .block-up {
        max-width: 300px;
        min-height: 98px;
        margin: 0 auto;
        position: relative;
    
        &__title {
            position: relative;
            width: 200px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 2.30625px;
            text-transform: uppercase;
            color: #48555B;
            margin: 0;
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                left: 74px;
                width: 52px;
                height: 2px;
                background-color: #00A4E5;
            }
        }
    
        &__subtitle {
            text-align: center;
            height: 40px;
            width: 300px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0.2px;
            color: #48555B;
            margin-top: 16px;
            position: relative;
            left: 0px; 
        }
    
        &__button {
            margin: 0;
            position: absolute;
            top: 114px;
            left: 75px;
        }
    }
    
    .button {
        // Этот блок принадлежит двум кнопкам 
        width: 150px;
        height: 40px;
        a {
            width: 150px;
            height: 40px;
            background-color: #00A4E5;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:hover {
                background-color: #0087bc;
                // можно добавить анимацию 
            }
        }
    } 
    
    .block-down {
        max-width: 300px;
        min-height: 740px;
        padding-top: 76px;
        margin: 0 auto;

        &__column {
            width: 300px;
            height: 210px;
            border: 1px solid #E6E6E6;
            //border-radius: 5px;
            padding: 15px;
            
        }
    
        &__img {
            padding: 0;
            img {
                width: 54px;
                height: 58px;
            }
        }
    
        &__title {
            width: 246px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #48555B;
            padding: 0;
            margin-top: 12px;
        }
    
        &__subtitle {
            width: 268px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.05px;
            color: #48555B;
            padding: 0;
            margin-top: 10px;
        }
    }

    // ----------------------------- work 576 - done

    .work {
        min-height: 300px;
        background-image: url(../img/work-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    
        &__title {
            width: 300px;
            height: 72px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.15px;
            color: #48555B;
            margin: 0px auto;
            padding-top: 70px;
        }
    
        &__button {
           margin: 80px auto 0px;
        }
    }

    // ----------------------------- signup 576 - done

    .signup {
        min-height: 156px;
        background-color: #171819;
        
        &__wrap {
            min-height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
            
        }
    
        &__title {
            width: 180px;
            height: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            margin: 0px auto;
            
        }
    
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 13px auto 0px;
        }
    
        &__email {
            width: 200px;
            height: 40px;
    
            input {
                width: 200px;
                height: 40px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                letter-spacing: 0.07px;
                color: #48555B;
                background: #FFFFFF;
                border: 1px solid #979797;
                padding: 0px 0px 0px 16px;
            }
        }
    
        &__button {
            margin-top: 7px;

            input {
                width: 200px;
                height: 40px;
                background-color: #00A4E5;
        
                display: flex;
                justify-content: center;
                align-items: center;
        
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #FFFFFF;
                
                &:hover {
                    background-color: #0087bc;
                    cursor: pointer;
                }
            }
        }
    }

    // ----------------------------- footer 576 - done (should do spoiler)

    .footer {
        min-height: 590px;
        background-color: #141A20;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &__wrap {
            width: 300px;
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #141A20;
        }
        &__company {
            width: 300px;
            height: 122px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__links {
            width: 300px;
            height: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__contact {
            width: 300px;
            height: 148px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__socials {
            width: 80px;
            height: 13px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 auto;
        }
    }
    .company {
        &__title {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;  
        }
    
        &__img {
            width: 102px;
            margin-top: 23px auto 0px;
        }
    
        &__subtitle {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 9px;
            line-height: 16px;
            letter-spacing: 0.85px;
            color: #FFFFFF;
            margin-top: 14px;
            
        }
    }
    .links {
        &__title {
            height: 14px;
            margin: 0px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    
        &__block {
            width: 240px;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }
    
        &__column {

            &:nth-child(1) {
                width: 65px;   
            }
            &:nth-child(2) {
                width: 44px;
            }
            &:nth-child(3) {
                width: 52px;
            }
        }
    
        &__word {
            a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 9px;
                line-height: 22px;
                letter-spacing: 0.846154px;
                color: #FFFFFF;
                text-transform: uppercase;
            }
        }
    }
    .contact {
        &__title {
            margin-left: 0px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    
        &__block {
            text-align: center;
            font-family: 'Open Sans';
            font-size: 9px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
            margin-top: 16px;
        }
    
        &__where {
            line-height: 16px;
        }
    
        &__number {
            padding-top: 16px;
        }
    
        &__email {
            padding-top: 20px;
        }
    }
    .socials {
    
        &__img {
        }
    }

    // ----------------------------- copyright 576 - done

    .copyright {
        min-height: 50px;
        background-color: #171819;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text {
            text-align: center;
            width: 180px;
            height: 24px;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
        }
    }
}

