@import "reset-style.scss";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); // font-family: 'Bebas Neue', cursive;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap'); // font-family: 'Open Sans', sans-serif;

body, html {
    height: 100px;
}

//-----------------------------------------------------------------------

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

//-----------------------------------------------------------------------

.header {
    min-height: 768px;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__logo {
        display: block;
        width: 103px;
        padding: 40px 0px 0px 0px;
        margin: 0px auto;
    }

    &__text-center {
        width: 612px;
        height: 94px;
        text-align: center;
        margin: 311px 0px 0px 170px;
        
        h1 {
            font-family: 'Bebas Neue', cursive;
            font-weight: 400;
            font-size: 60px;
            letter-spacing: 5.70937px;
            color: #FFFFFF;
        }
        p {
            width: 390px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            margin: 8px 0px 0px 105px;
        }
    }

    &__text-down {
        width: 120px;
        margin: 216px 0px 0px 412px;
        a {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 11px;
            letter-spacing: 3.7px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }
}

//-----------------------------------------------------------------------

.navbar {
    min-height: 63px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: content-box;

    &__wrap {
        display: flex;
    }

    &__logo {
        padding: 23px 0px 0px 0px;
    }

    &__menu {
        width: 412px;
        display: flex;
        //justify-content: space-between;
        padding: 24px 0px 0px 0px;
        margin-left: 450px;
    }
    
    &__word {
        a {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1.09091px;
            color: #48555B;
            text-transform: uppercase;
        }

        &_b {
            a {
                color: #00A4E5;
            }
        }

        &:nth-child(1) {
            margin-right: 48px;
        }
        &:nth-child(2) {
            margin-right: 42px;
        }
        &:nth-child(3) {
            margin-right: 39px;
        }
        &:nth-child(4) {
            margin-right: 29px;
        }

    }
}

//-----------------------------------------------------------------------

.about {
    min-height: 344px;
    margin: 59px auto 0px;

    &__title {
        position: relative;
        width: 124px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        letter-spacing: 2.30625px;
        color: #48555B;
        text-transform: uppercase;
        padding-top: 1px;
        margin: 0px 0px 0px 411px;
        &::before {
            content: "";
            position: absolute;
            top: 33px;
            left: 35px;
            width: 52px;
            height: 2px;
            background-color: #00A4E5;
        }
    }

    &__block-bot {
        margin: 69px 0px 0px 0px;
    }
}
.block-bot {
    display: flex;

    &__subtitle {
        width: 410px;
        flex: 0 0 410px;

        h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.1875px;
            color: #48555B;
            //padding: 75px 0px 0px 0px;
            span {
                color: #16ACE8;
            }
        }

        p {
            padding-top: 31px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 23px;
            letter-spacing: 0.1875px;
            color: #48555B;
        }
    }

    &__columns {
        display: flex;
        width: 460px;
        height: 224px;
        flex: 0 0 460px;
        margin: 31px 0px 0px 72px;
    }

    &__column {
        width: 140px;
        height: 224px;

        &_one {
            background-image: url(../img/about-img-one.png);
            margin-right: 19px;
        }

        &_two {
            background-image: url(../img/about-img-two.png);
            margin-right: 19px;
        }

        &_three {
            background-image: url(../img/about-img-three.png);
        }
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.1875px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 15px 0px 0px 14px;
    }
}

//-----------------------------------------------------------------------

